<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>abhishek choudhy  abbjhjkghjhjknmm,nm

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit possimus eveniet earum minus, in corporis distinctio ipsum ad aut at dicta quos est, totam voluptatibus placeat vitae eius ex obcaecati.


    <h3>Anshu singh hi bet jii kese ho app</h3>
  </h1>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="./cssfile/owl.carousel.css">
<link rel="stylesheet" href="./cssfile/owl.theme.green.css">
<script src="./jsfile/jquery.min.js"></script>
<script src="./jsfile/owl.carousel.min.js"></script>
<link rel="stylesheet" href="./style.css">
<style>
        .banner-image img{
            height:400px;
            width:400px;

        }
        .box{
            background-color:peru;
            height: 350px;
            width: 300px;
            margin-top: 70px;
            border-radius: 20px;
        }
        .d1 img{
            height:200px;
            width:200px;
            margin-top: 20px;
            border-radius: 50%;
        }
        .d1{
        height: 100px;
        width: 100px;
        padding-top: 0px;
        position:relative;
        margin-right: 100px;
        }
        @media screen and (max-width: 768px) {
            .banner-image img{
            height:300px;
            width:330px;

        }
    }
    @media (max-width: 400px) {
        .review-card .prop {
          font-size: 12px;
          line-height: 1.6;
          color: #666;
        }
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:sienna;height: 90px;width: 100%;">
        <a class="navbar-brand" href="#"><div style="background-color: ;height: 80px;width: 80px;border-radius: 50%;"><img src="/images/logo.webp" height="80px" width="80px" style="position: absolute;"></div></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-white" href="#">About <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-white" href="#">Gallery</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link active text-white" href="#">Category</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

    <section style="background-color: sienna;height: 100%;width: 100%;">
        <br><br>
      <div class="container ">
        <div class="row">
          <div class="col-lg-4 text-white" style="padding-top: 80px;">
           <h2><font color="orangered">𝓑𝓮𝓼𝓽 𝓒𝓸𝓯𝓯𝓮𝓮


            <!-- 𝕭𝖊𝖘𝖙 𝕮𝖔𝖋𝖋𝖊𝖊 -->
        
        </font></h2>
           <!-- 𝓑𝓮𝓼𝓽 𝓒𝓸𝓯𝓯𝓮𝓮 -->

           <h4 class="mt-3">Make your day great with our special Coffee </h4>
           <p class="mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe similique non dignissimos animi consectetur voluptatem in facere quam .</p>
           
           <button type="button" style="background-color:rgb(248, 138, 12);height: 30px;width: 120px;border-radius: 20px;border: hidden;color: darkred;">Order Now</button>
           <button type="button" style="background-color:darkred;height: 30px;width: 120px;border-radius: 20px;border-color: white;color: white;">Contact Me</button>

          </div>
          <div class="col-lg-3">
          </div>
          <div class="col-4" style="padding-top: 30px;">
           <div class="banner-image">
            <img src="/images/WhatsApp_Image_2024-11-28_at_7.06.17_PM-removebg-preview.png" >
           </div>
          </div>
        </div>
      </div>
      <br>
    </section>

<!-- //////main section -->
    <section style="background-image:url(/images/bg2.avif);height: 100%;width: 100%;">
    <center>
        <div class="container" >
            <div class="row">
                <div class="col-sm" >
                    <div class="d1">
                        <img src="/images/chocolate.cms" >
                    </div>
                    <div class="box" >
                        <br>
                        <br>
                        <h3 class="p-5" style="color: rgb(250, 184, 40);height: 0px;">
                            <b><i>Mocha Coffee</i></b></h3>
                        </span>
                        
                        <p class="">The Coffein in Coffee may help improve alertness</p>
                        <br>
                        <br>
                        <table>
                            <tr>
                                <th class="col-2 p-4 text-white"><span>$20.00</span></th>
                                <th></th>
                                <th></th>
                                <th class="col-2"><button type="button" style="background-color:gray;height: 30px;width: 100px;border-radius: 20px;color: white;border-color: white">Order Now</button></th>
                            </tr>
                        </table>
                      
                    </div>
                </div>
                <div class="col-sm">
                    <div class="d1">
                        <img src="/images/calyspo.jfif">
                    </div>
                    <div class="box" >
                        <br><br>
                       
                        <h3 class="p-5" style="color: rgb(250, 184, 40);height: 0px;">
                           
                            <b><i>Calypso Coffee</i></b></h3>
                        </span>
                        <p>Caffeine can improve memory, reaction time, and general cognitive functions.</p>
                        <br>
                        <table>
                            <tr>
                                <th class="col-2 p-5 text-white"><span>$42.00</span></th>
                                <th></th>
                                <th></th>
                                <th class="col-2"><button type="button" style="background-color:gray;height: 30px;width: 100px;border-radius: 20px;color: white;border-color: white">Order Now</button></th>
                            </tr>
                        </table>
                      
                        </div>
                    </div>
                
                <div class="col-sm" >
                    <div class="d1">
                        <img src="/images/astrian.jpg" >
                    </div>
                    <div class="box">
                        <br>
                        
                        <h3 class="p-5" style="color: rgb(250, 184, 40);height: 0px;">
                            <b><i>Australian Coffee</i></b></h3>
                        <br>
                        <p>A classic Aussie Coffee made with expresso, steamed milk, and a thin layer of foam.</p>
                        
                        <table>
                            <tr>
                                <th class="col-2 p-5 text-white"><span>$42.00</span></th>
                                <th></th>
                                <th></th>
                                <th class="col-2"><button type="button" style="background-color:gray;height: 30px;width: 100px;border-radius: 20px;color: white;border-color: white">Order Now</button></th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm" >
                    <div class="d1" >
                        <img src="/images/calyspo.jfif" >
                    </div>
                    <div class="box">
                        <br>
                        <br>
                        <h3 class="p-5" style="color: rgb(250, 184, 40);height: 0px;"><b><i>Witch's Coffee</i></b></h3>
                        <p>
                            A con-venient way to get a boost of energy, and some say it can help with productivity.
                        </p>
                        
                        <table>
                            <tr>
                                <th class="col-2 p-5 text-white"><span>$20.00</span></th>
                                <th></th>
                                <th></th>
                                <th class="col-2"><button type="button" style="background-color:gray;height: 30px;width: 100px;border-radius: 20px;color: white;border-color: white">Order Now</button></th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm" >
                    <div class="d1" >
                        <img src="/images/Dark-Chocolate-Ice-Coffee-with-Provocateur-exc.webp">
                    </div>
                    <div class="box">
                        <br>
                        <br>
                        <h3 class="p-5" style="color: rgb(250, 184, 40);height: 0px;"><b><i>Iced Coffee</i></b></h3>
                            <p>
                                Cold-brewed Coffee is easier on the waistline becasuse it doesn't reqire as much cream and sugar.
                            </p>                        
                        <table>
                            <tr>
                                <th class="col-2 p-5 text-white"><span>$30.80</span></th>
                                <th></th>
                                <th></th>
                                <th class="col-2"><button type="button" style="background-color:gray;height: 30px;width: 100px;border-radius: 20px;color: white;border-color: white">Order Now</button></th>
                            </tr>
                        </table>
                    </div>
                </div>
               <div class="col-sm" >
                    <div class="d1" style="background-color: ;height: 100px;width: 100px;padding-top: 0px;position:relative;margin-right: 100px;">
                        <img src="/images/kaipunnyam-filter-coffee.webp" height="200px" width="200px" style="margin-top: 20px;border-radius: 50%;">
                    </div>
                    <div class="d2" style="background-color:peru;height: 350px;width: 300px;margin-top: 70px;border-radius: 20px;">
                        <br>
                        <br><br>
                        <h3 class="p-5" style="color: rgb(250, 184, 40);height: 0px;"><b><i>Filter Coffee</i></b></h3>
                        <p>
                            Filter Coffee can lower the risk of heart disease, stroke, and heart attacks.
                        </p>
                        
                        <table style="width: 100%;">
                            <tr>
                                <th class="col-2 p-5 text-white"><span>$20.00</span></th>
                                <th></th>
                                <th></th>
                                <th class="col-2"><button type="button" style="background-color:gray;height: 30px;width: 100px;border-radius: 20px;color: white;border-color: white">Order Now</button></th>
                            </tr>
                        </table>
                    </div>
                </div></center>
                </div>
                </div>
            </div>
        </div></center>
        <br>
        <br>
    </section>

<section style="background-image: url(/images/background2.jpeg);height: 400px;width: 100%;background-repeat: no-repeat;background-size: cover;">
    <center><div style="padding-top: 130px;color: wheat;">
        <h2>
            Check out our bect Coffee betans </h2>
            <button type="button" style="background-color:black;height: 30px;width: 200px;color: white;border-radius: 20px;border-color: wheat;" class="mt-3">Explore Coffee</button>
    </div>
    </center>
</section>


<section style="background-image: url(/images/bg2.avif);height: 100%;width: 100%;">
    <br>
    <div class="owl-carousel owl-theme">
        <div class="item"> <div class="review-card">
            <div class="flex-profile">
              <div class="profile-image">
                <img
                  src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png"
                  alt="Profile Image"
                  style="width: 55px; height: 55px; border-radius: 50%"
                />
              </div>
              <div class="heading-image">
                <div class="heading">
                  <h3 class="name-cus">Justin Raj</h3>
                </div>
                <div class="rating-image">
                  <img
                    src="https://static.vecteezy.com/system/resources/thumbnails/009/663/927/small/5-star-rating-review-star-transparent-free-png.png"
                    alt="Rating Image"
                    style="width: 77px; height: 46px"
                  />
                </div>
              </div>
            </div>
            <p class="prop">
              Dorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis. Class
              aptent taciti sociosqu ad litora torquent per conubia nostra, per
              inceptos himenaeos. Curabitur tempus urna at turpis condimentum
              lobortis.
            </p>
          </div></div>
        <div class="item">  <div class="review-card">
            <div class="flex-profile">
              <div class="profile-image">
               <img
                  src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png"
                  alt="Profile Image"
                  style="width: 55px; height: 55px; border-radius: 50%"
                />
              </div>
              <div class="heading-image">
                <div class="heading">
                  <h3 class="name-cus">Antony</h3>
                </div>
                <div class="rating-image">
                  <img
                    src="https://static.vecteezy.com/system/resources/thumbnails/009/663/927/small/5-star-rating-review-star-transparent-free-png.png"
                    alt="Rating Image"
                    style="width: 77px; height: 46px"
                  />
                </div>
              </div>
            </div>
            <p class="prop">
              Dorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis. Class
              aptent taciti sociosqu ad litora torquent per conubia nostra, per
              inceptos himenaeos. Curabitur tempus urna at turpis condimentum
              lobortis.
            </p>
          </div></div>
        <div class="item"> <div class="review-card">
            <div class="flex-profile">
              <div class="profile-image">
                <img
                  src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png"
                  alt="Profile Image"
                  style="width: 55px; height: 55px; border-radius: 50%"
                />
              </div>
              <div class="heading-image">
                <div class="heading">
                  <h3 class="name-cus">Surendar</h3>
                </div>
                <div class="rating-image">
                   <img
                    src="https://static.vecteezy.com/system/resources/thumbnails/009/663/927/small/5-star-rating-review-star-transparent-free-png.png"
                    alt="Rating Image"
                    style="width: 77px; height: 46px"
                  />
                </div>
              </div>
            </div>
            <p class="prop">
              Dorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis. Class
              aptent taciti sociosqu ad litora torquent per conubia nostra, per
              inceptos himenaeos. Curabitur tempus urna at turpis condimentum
              lobortis.
            </p>
          </div></div>
        <div class="item">  <div class="review-card">
            <div class="flex-profile">
              <div class="profile-image">
                <img
                  src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png"
                  alt="Profile Image"
                  style="width: 55px; height: 55px; border-radius: 50%"
                />
              </div>
              <div class="heading-image">
                <div class="heading">
                  <h3 class="name-cus">Surendar</h3>
                </div>
                <div class="rating-image">
                  <img
                    src="https://static.vecteezy.com/system/resources/thumbnails/009/663/927/small/5-star-rating-review-star-transparent-free-png.png"
                    alt="Rating Image"
                    style="width: 77px; height: 46px"
                  />
                </div>
              </div>
            </div>
            <p class="prop">
              Dorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis. Class
              aptent taciti sociosqu ad litora torquent per conubia nostra, per
              inceptos himenaeos. Curabitur tempus urna at turpis condimentum
              lobortis.
            </p>
          </div></div>
        <div class="item"> <div class="review-card">
            <div class="flex-profile">
              <div class="profile-image">
                <img
                  src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png"
                  alt="Profile Image"
                  style="width: 55px; height: 55px; border-radius: 50%"
                />
              </div>
              <div class="heading-image">
                <div class="heading">
                  <h3 class="name-cus">Surendar</h3>
                </div>
                <div class="rating-image">
                   <img
                    src="https://static.vecteezy.com/system/resources/thumbnails/009/663/927/small/5-star-rating-review-star-transparent-free-png.png"
                    alt="Rating Image"
                    style="width: 77px; height: 46px"
                  />
                </div>
              </div>
            </div>
            <p class="prop">
              Dorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis. Class
              aptent taciti sociosqu ad litora torquent per conubia nostra, per
              inceptos himenaeos. Curabitur tempus urna at turpis condimentum
              lobortis.
            </p>
          </div></div>
        <div class="item">        <div class="review-card">
            <div class="flex-profile">
              <div class="profile-image">
                <img
                  src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png"
                  alt="Profile Image"
                  style="width: 55px; height: px; border-radius: 50%"
                />
              </div>
              <div class="heading-image">
                <div class="heading">
                  <h3 class="name-cus">Surendar</h3>
                </div>
                <div class="rating-image">
                   <img
                    src="https://static.vecteezy.com/system/resources/thumbnails/009/663/927/small/5-star-rating-review-star-transparent-free-png.png"
                    alt="Rating Image"
                    style="width: 77px; height: 46px"
                  />
                </div>
              </div>
            </div>
            <p class="prop">
              Dorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vulputate libero et velit interdum, ac aliquet odio mattis. Class
              aptent taciti sociosqu ad litora torquent per conubia nostra, per
              inceptos himenaeos. Curabitur tempus urna at turpis condimentum
              lobortis.
            </p>
          </div></div>
        <!-- <div class="item"><h4>7</h4></div>
        <div class="item"><h4>8</h4></div>
        <div class="item"><h4>9</h4></div>
        <div class="item"><h4>10</h4></div>
        <div class="item"><h4>11</h4></div>
        <div class="item"><h4>12</h4></div> -->
    </div>
    <br>
</section>
<script>
    $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        200:{
            items:1.2
        },
        1000:{
            items:5
        }
    }
})
</script>


  <script>
    let currentIndex = 0;

function nextSlide() {
currentIndex = (currentIndex + 1) % 6; // Adjust the number based on the number of cards
updateSlider();
}

function prevSlide() {
currentIndex = (currentIndex - 1 + 6) % 6; // Adjust the number based on the number of cards
updateSlider();
}

function updateSlider() {
const sliderContent = document.querySelector(".slider-content");
const cardWidth =
  document.querySelector(".review-card").offsetWidth + 20; // Adjusted width including margin
sliderContent.style.transform = `translateX(${
  -currentIndex * cardWidth
}px)`;
}
  </script>



<section style="background-image: url(/images/background1.jpeg);height: 380px;width: 100%;background-repeat: no-repeat;background-size: cover;">

    <center><div style="padding-top: 100px;color: whitesmoke;">
        <h1><b>Join in and get 15% off</b></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <input type="search" name="" id="" style="height: 30px;width: 300px;border: hidden;border-radius: 20px;text-align: center;" placeholder="Search best Coffee"> <button type="button" style="background-color: black;height: 30px;width: 140px;border: hidden;border-radius: 20px;color: white;" >Search</button>
    </div></center>
    <br>
    <br><br><br>

</section>































      <!-- Footer -->
<footer class="text-center text-lg-start  text-white" style="background-color:rgb(129, 44, 4);height: 100%;width: 100%;">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span style="font-size: 30px;color: whitesmoke;">Coffee Shop:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Company name
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset"><font color="white">Cold Coffee</font></a>
            </p>
            <p>
              <a href="#!" class="text-reset"><font color="white">Australian Coffee</font></a>
            </p>
            <p>
              <a href="#!" class="text-reset"><font color="white">Iced Coffee</font></a>
            </p>
            <p>
              <a href="#!" class="text-reset"><font color="white">Chocolate Coffee</font></a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset"><font color="white">Pricing</font></a>
            </p>
            <p>
              <a href="#!" class="text-reset"><font color="white">Settings</font></a>
            </p>
            <p>
              <a href="#!" class="text-reset"><font color="white">Orders</font></a>
            </p>
            <p>
              <a href="#!" class="text-reset"><font color="white">Help</font></a>
            </p> 
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i>91 + 8130287242</p>
            <p><i class="fas fa-print me-3"></i> 91+ 8130287242</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-reset fw-bold" href="https://shop012.netlify.app"><font color="white">Food Site oder now</font></a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>